<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}"/>
    <title>{% block title %}{% endblock %} - Faces ID</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lte.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toastr.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skins.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/js.cookie.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/toastr.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/push-menu-left.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tree-menu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cit.js') }}"></script>
    <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lazyload.js') }}"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <a href="http://localhost/cit/public/auth" class="logo">
            <span class="logo-lg">
                <img src="{{ url_for('static', filename='images/logo.png') }}" height="35" alt="Faces ID">
                <b style="padding-left: 10px;">AI. VISION</b>
            </span>
        </a>
        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{{ session['anh'] }}" class="user-image" onerror="imgError(this);"
                                 style="object-fit: cover">
                            <span class="hidden-xs">{{ session['ho_ten'] }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="{{ session['anh'] }}" class="img-circle" onerror="imgError(this);"
                                     style="object-fit: cover">
                                <p>
                                    {{ session['ho_ten'] }}
                                    <small>{{ session['email'] }}</small>
                                </p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#"
                                       class="btn btn-default btn-flat">Đổi mật khẩu</a>
                                </div>
                                <div class="pull-right">
                                    <a href="#"
                                       class="btn btn-default btn-flat">Đăng xuất</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">CHỨC NĂNG</li>
                <li>
                    <a href="#">
                        <i class="fa fa-hand-pointer-o"></i> <span>Khóa cửa vân tay</span>
                    </a>
                </li>
            </ul>
        </section>
    </aside>

    <div class="content-wrapper">
        <div class="container-fluid no-padding">
            {% block content %}{% endblock %}
        </div>

    </div>

    <footer class="main-footer">
        <strong>
            <a href="https://adminlte.io">@2020 | Hệ thống nhận dạng khuôn mặt</a>.
        </strong>
    </footer>
</div>
</body>
</html>
<script>

    var tools = {
        set: function (key, value) {
            $.cookie(key, value);
        },
        get: function (key, value) {
            return $.cookie(key);
        }
    }

    $.fn.modal.prototype.constructor.Constructor.DEFAULTS.backdrop = 'static';
    $.extend(true, $.fn.dataTable.defaults, {
        "sScrollX": "100%",
        "sScrollXInner": "100%",
        "bScrollCollapse": true,
        "autoWidth": true,
        'stateSave': true
    });

    $(document).ready(function () {
        $menu = $('.treeview-menu li, .sidebar-menu li');
        $menu.each(function () {
            var tmp = localStorage.getItem('menu');
            if (tmp === $(this).text().trim()) {
                $(this).addClass('active');
                $(this).parent().parent().addClass('active menu-open');
            }
        });

        $menu.click(function () {
            localStorage.setItem('menu', $(this).text().trim())
        });


    });
</script>
{% block script %}{% endblock %}