{% extends "auth/master.html" %}
{% block title %} Quản lý tài khoản {% endblock %}

{% block content %}
<style>
    .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
    }
</style>
<section class="content-header">
    <h1>
        <b>Người dùng</b>
        <small>Danh sách người dùng</small>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <button style="float: left; margin-right: 5px;" class="btn btn-primary btnImport">Import Excel
                    </button>
                    <button style="float: left; margin-right: 5px;" class="btn btn-primary btnThem">Thêm mới</button>
                    <button style="float: left; margin-right: 5px;" class="btn btn-primary btnCapNhatAnh">Cập nhật số
                        lượng ảnh
                    </button>

                    <form action="" style="width: 500px; float: right;">
                        <div class="input-group">
                            <select class="form-control loc-don-vi" name="don-vi">
                                <option value="0">-- Chọn đơn vị --</option>
                                {% for item in donvi %}
                                <option value="{{ item.id_don_vi }}">{{ item.ten_don_vi }}</option>
                                {% endfor %}
                            </select>
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-primary">Lọc thông tin</button>
                            </div>
                        </div>
                    </form>

                    <script>
                        $('.loc-don-vi').val('{{id_don_vi}}')
                        $('.loc-don-vi').select2();
                    </script>

                    <div style="margin-top: 5px;">
                        {% for item in session['redirect-error'] or [] %}
                        <div class="alert alert-danger" style="margin-bottom: 5px;">
                            {{ item }}
                        </div>
                        {% endfor %}
                        {{ clear_session('redirect-error') }}
                    </div>
                </div>

                <div class="box-body">
                    <table class="table-striped table">
                        <thead>
                        <tr>
                            <th style="width: 120px;">#</th>
                            <th>Họ tên</th>
                            <th>Đơn vị</th>
                            <th>Lớp</th>
                            <th>Tổng ảnh</th>
                            <th>Đối tượng</th>
                            <th>Ngày tạo</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in data %}
                        <tr>
                            <td>
                                <a href="{{ url_for('getCTTaiKhoan', name=item.id_nguoi_dung) }}">
                                    Chi tiết
                                </a>
                                |
                                <a href="#" data="{{ item|to_json }}" class="capnhat">Cập nhật</a>
                                |
                                <a class="xoa" href="#" data="{{ item.id_nguoi_dung }}"
                                   email="{{ item.email }}">Xóa</a>
                            </td>
                            <td>
                                <img class="avatar" data-src="{{item.anh}}" alt="" onerror="imgError(this);">
                                {{ item.ho_ten }}
                            </td>
                            <td>
                                {{ item.ten_don_vi or '' }}
                                <br>
                                Email: {{ item.email }}
                            </td>
                            <td>{{ item.khoa_lop or '' }}</td>
                            <td>{{ item.tong_anh or '0' }}</td>
                            <td>
                                {% if item.doi_tuong == 0 %}
                                    <small class="label bg-green">Giảng viên</small>
                                {% elif item.doi_tuong == 1 %}
                                    <small class="label bg-yellow">Sinh viên</small>
                                {% else %}
                                    <small class="label bg-green">Khác</small>
                                {% endif  %}
                            </td>
                            <td>{{ item.ngay_tao }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="md-them">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Thêm mới Người dùng</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label >Họ tên</label>
                        <input type="text" class="form-control hoten" placeholder="Nguyễn Văn A">
                    </div>
                    <div class="col-md-6">
                        <label >Email</label>
                        <input type="text" class="form-control email" placeholder="anv@email.com">
                    </div>
                    <div class="col-md-6">
                        <label >Đơn vị</label>
                        <select class="form-control donvi">
                            <option value="0">-- Chọn đơn vị --</option>
                            {% for item in donvi %}
                            <option value="{{ item.id_don_vi }}">{{ item.id_don_vi }} - {{ item.ten_don_vi }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label >Đối tượng</label>
                        <select class="form-control sinhvien">
                            <option value="0">0 - Giảng viên/Nhân viên</option>
                            <option value="1">1 - Sinh viên</option>
                            <option value="2">3 - Khác</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label >Khóa</label>
                        <select class="form-control khoa">
                            <option selected value="0">-- Chọn Khóa học --</option>
                            {% for item in khoa %}
                            <option value="{{ item.id_khoa }}">{{ item.id_khoa }} - {{ item.ten_khoa }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label >Lớp chuyên ngành</label>
                        <select class="form-control lop">
                            <option value="0">-- Chọn lớp chuyên ngành --</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary luuTT">Lưu thông tin</button>
            </div>
        </div>
    </div>
</div>

<form method="post" action="{{ url_for('importExcelnguoiDung') }}"
      enctype="multipart/form-data">
    <div class="modal fade" id="importKhoa">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Import dữ liệu Người dùng</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Chọn file (*.xlsx) hoặc tải về
                                <a target="_blank"
                                   href="{{ url_for('static', filename='excel/nhap-tai-khoan.xlsx') }}">file
                                    mẫu</a></label>
                            <input accept=".xlsx" name="file" type="file" class="form-control HoTen">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Tải lên</button>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}

{% block script %}
<script type="text/javascript">
    $('.table').DataTable();

    $('.donvi').change(function () {
        tools.set("donvi", $(this).val());
    });

    $('.sinhvien').change(function () {
        tools.set("sinhvien", $(this).val());
    });

    function dslop() {
        $.ajax({
            url: "{{ url_for('getDSLop')}}",
            type: "GET",
            data: {
                'id_khoa': $('.khoa').val(),
                'id_don_vi': $('.donvi').val(),
            },
            success: function (result) {
                $('.lop').empty();
                $('.lop').append("<option value='0'>-- Chọn lớp chuyên ngành --</option>")
                result.forEach(function (item) {
                    $('.lop').append("<option value='" + item.id_lop + "'>" + item.id_lop + " - " + item.ten_lop + "</option>")
                });
            },
            error: function (error) {
                toastr.error(error, "Thao tác thất bại");
            }
        });
    }

    $(document).ready(function () {
        $(".lazy").lazyload();

        $('.donvi, .khoa').change(function () {
            dslop();
        })

        $('.sinhvien').change(function () {
            if ($(this).val() === "1") {
                $('.lop').val(0);
                $('.khoa').val(0);
            }
        })

        $('.btnImport').click(function () {
            $('#importKhoa').modal('show');
        });

        $(".btnThem").click(function () {
            $('.donvi').val(tools.get("donvi"));
            $('.sinhvien').val(tools.get("sinhvien"));
            $('.luuTT').attr('type', 'them');
            $('#md-them').modal('show');
        });

        $('.luuTT').click(function () {
            var type = $(this).attr('type');
            switch (type) {
                case 'them':
                    $.ajax({
                        url: "{{ url_for('putTaiKhoan')}}",
                        type: "PUT",
                        data: {
                            'hoten': $('.hoten').val(),
                            'email': $('.email').val(),
                            'donvi': $('.donvi').val(),
                            'sinhvien': $('.sinhvien').val(),
                            'lop': $('.lop').val(),
                        },
                        success: function (result) {
                            if (result.status === 200) {
                                toastr.success(result.message, "Thao tác thành công");
                                setTimeout(function () {
                                    location.reload();
                                }, 750);
                            } else {
                                toastr.error(result.message, "Thao tác thất bại");
                            }
                        },
                        error: function (error) {
                            toastr.error(error, "Thao tác thất bại");
                        }
                    });
                    break;

                case 'cap-nhat':
                    $.ajax({
                        url: "{{ url_for('postTaiKhoan')}}",
                        type: "POST",
                        data: {
                            'nguoidung': $('.luuTT').attr('nguoidung'),
                            'hoten': $('.hoten').val(),
                            'email': $('.email').val(),
                            'donvi': $('.donvi').val(),
                            'sinhvien': $('.sinhvien').val(),
                            'lop': $('.lop').val(),
                        },
                        success: function (result) {
                            if (result.status === 200) {
                                toastr.success(result.message, "Thao tác thành công");
                                setTimeout(function () {
                                    location.reload();
                                }, 750);
                            } else {
                                toastr.error(result.message, "Thao tác thất bại");
                            }
                        },
                        error: function (error) {
                            toastr.error(error, "Thao tác thất bại");
                        }
                    });
            }

        });

        $(document).on("click", ".xoa", function () {
            var id = $(this).attr('data');
            var email = $(this).attr('email');
            if (confirm('Khi xóa, các thông tin "Người dùng" sẽ được xóa tất cả?')) {
                $.ajax({
                    url: "{{ url_for('deleteTaiKhoan')}}",
                    type: "DELETE",
                    data: {
                        'idnguoidung': id,
                        'email': email,
                    },
                    success: function (result) {
                        if (result.status === 200) {
                            toastr.success(result.message, "Thao tác thành công");
                            setTimeout(function () {
                                location.reload();
                            }, 750);
                        } else {
                            toastr.error(result.message, "Thao tác thất bại");
                        }
                    },
                    error: function (error) {
                        toastr.error(error, "Thao tác thất bại");
                    }
                });
            }
        });

        $(document).on("click", ".capnhat", function () {
            var data = JSON.parse($(this).attr('data'));
            $('.hoten').val(data.ho_ten);
            $('.email').val(data.email);
            $('.donvi').val(data.id_don_vi);
            $('.sinhvien').val(data.doi_tuong);
            $('.luuTT').attr('nguoidung', data.id_nguoi_dung).attr('type', 'cap-nhat');
            $('#md-them').modal('show');
        });

        $('.btnCapNhatAnh').click(function () {
            $.ajax({
                url: "{{ url_for('getCapNhatSLAnh')}}",
                type: "POST",
                data: {id_don_vi: $('.loc-don-vi').val()},
                success: function (result) {
                    if (result.status === 200) {
                        toastr.success(result.message, "Thao tác thành công");
                        setTimeout(function () {
                            location.reload();
                        }, 750);
                    } else {
                        toastr.error(result.message, "Thao tác thất bại");
                    }
                },
                error: function (error) {
                    toastr.error(error, "Thao tác thất bại");
                }
            });
        });
    });
</script>
{% endblock %}