.at-img-del {
    height: 20px;
    width: 20px;
    margin-top: 5px;
    margin-left: 5px;
    position: absolute
}

.img-anh {
    width: 100%;
    border-radius: 4px;
    height: 150px;
    object-fit: cover;
}

.at-item-uploads {
    width: 100%;
    border: 2px dashed #EEEEEE;
    height: 150px;
    border-radius: 10px;
    line-height: 150px;
}

.at-item-uploads > img {
    height: 50px;
}

.item-face p {
    margin-top: 5px;
}

.item-face div:first-child {
    margin: 5px;
}
